<div class="card">
    <div class="card-header">
        Login
    </div>
    <div class="card-body">

        <div class="row justify-content-center ">
            <form class="form login-form">
                <div class="form-group">
                    <label for="username-login">Username:</label>
                    <input class="form-control" type="text" id="username-login" />
                </div>
                <div class="form-group">
                    <label for="password-login">Password:</label>
                    <input class="form-control" type="password" id="password-login" />
                </div>
                <div class="form-group">
                    <button class="btn authbtn" type="submit">Login!</button>
                </div>
            </form>
            <a href="/signup" class="authlink">Sign up instead</a>
        </div>
    </div>
</div>
</div>
<script src="/js/login.js"></script>