<div class="card">
  <div class="card-header">
    New Post
  </div>
  <div class="card-body">
      <div class="row justify-content-center">

        <label for="newTitle">Title:</label>
        <textarea class="form-control" id="newTitle"></textarea>


        <label for="newContent">Content:</label>
        <textarea class="form-control" id="newContent"></textarea>


        <button class="btn create-edit-delete" id="createBtn">Create</button>
      </div>
  </div>
</div>

<script src="/js/newBlog.js"></script>